<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitalwonders.ilhan.spherify" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_spherify"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GalleryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/app_name"
            android:parentActivityName=".GalleryActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digitalwonders.ilhan.spherify.GalleryActivity" />
        </activity>
        <activity
            android:name=".DisplayActivity"
            android:label="@string/title_activity_display"
            android:parentActivityName=".GalleryActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digitalwonders.ilhan.spherify.GalleryActivity" />
        </activity>
        <activity
            android:name=".SpherifyActivity"
            android:label="@string/app_name"
            android:parentActivityName=".EditActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digitalwonders.ilhan.spherify.EditActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/app_name"
            android:parentActivityName=".GalleryActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.digitalwonders.ilhan.spherify.GalleryActivity" />
        </activity>
    </application>

</manifest>
